body {
  width: 500px;
  margin:0 auto;
  background-color: #FFFF00;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Georgia", serif;
  color: #333;
} 
a:visited {
  color: #19320F;
}
h1 {
    line-height: 1.45;
    font-family: "Georgia", serif;
    color: #010100;
} 
h2 {
    line-height: 1.45;
    font-family: "Georgia", serif;
    color: #020201;   
}
h3 {
    line-height: 1.45;
    font-family: "Georgia", serif;
    color: #000000;
} 
p {
    font-size: 16px;
    line-height: 1.45;
    font-family: "Georgia", serif;
    color: #000000;
    max-width: 500px;
}
