body {
    background: #aeaeae;
    color: #000000;
    font-family: "Georgia", serif;
    width: 1200px;
}

.main-content {
    width: 700px;
    margin: 0 auto;
}
div {
    padding: 5px 20px;
    margin-bottom: 15px;
}
p {
    line-height: 1.35;
    font-size: 16px;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color: #1b154f;
}

.dodgers {
    background: blue;
    color: #ffffff;
}

.cubs {
    
}

.pittsburgh {
    background: yellow;
    color: #32506e;
}

.cardinals {
    background: #ff7c7c;
    color: #000000;
}

.table-container {
    background: black;
    color: #ffffff;
}
table {
    margin: 0 auto;
}
table, tr, th, td {
    border: 1px solid white;
    padding: 10px;
    border-collapse: collapse;
}
a {
    color: #ffffff;
}
.pittsburgh a {
    color: #000000;
}
.mets a:visited {
    color: #3d0823;
}
.dodgers a:visited {
    color:#f1f0ff;
}
.cubs a:visited {
    color:#000000;
}
.pittsburgh a:visited {
    color:#1a1b1c;
}
.cardinals a:visited {
    color:#0c1a1f;
}
